* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  width: 100%;
}
.slider__header {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  font-family: sans-serif;
}
.wrap {
  margin-top: -45px;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin-bottom: -110px;
}

.wrap:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 5rem auto;
  max-width: 800px;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #fff;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: 250px;
  text-align: left;
}

.slick-next {
  right: 250px;
  text-align: right;
}



.item.slick-slide {
  width: 400px;
  height: 400px !important;

  transition: transform .4s;
  position: relative;
}

.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  transition: transform .4s;

}

.item.slick-slide {
  transform: scale(0.7)  translate(640px);

}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;

}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7)  translate(-640px);
  z-index: 5;

}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);

}

.item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  z-index: 30;
  border:15px solid black;
  border-radius: 25px;
}

.slick-center:after {
  opacity: 0;
}


@media screen and (max-width:550px) {
.slick-list {
  border:9px solid black;
  border-radius: 25px;
}
  .item.slick-slide.slick-center {
    border: none;
  }
}

@media screen and (max-width:600px){
  .wrap {
    margin-bottom: -95px;
  }
}
