




























a {
  text-decoration: none;
  color: #000;
}
header {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
header .container {
  width: 90%;
  margin: 0 auto;
  padding: 17px 22px;
}
@media all and (max-width: 699px) {
  header .container {
    width: 90%;
  }
}
header .brand,
header .navbar {
  float: left;
  position: relative;
  top: -8px;
}

.brand img{
  position:relative;
  top:6px;
}
header nav {
  float: right;
  margin-right: 27px;
  margin-top: 3px;
}
@media all and (max-width: 699px) {
  header nav {
    clear: both;
    width: 100%;
  }
}
header nav .navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 699px) {
  header nav .navbar {
    display: none;
    width: 100%;
  }
}
.bar {
  width: 25px;
  height: auto;
  float: right;
  display: none;
  margin-right: 14px;
  position: relative;
  top: -5px;
}
@media all and (max-width: 699px) {
  .bar {
    display: block;
  }
}
.bar div {
  width: 90%;
  height: 3px;
  background: #000;
  margin: 5px 0;
}
.navbar li {
  display: inline-block;
  padding: 8px 13px;
}
@media all and (max-width: 699px) {
  .navbar li {
    text-align: center;
    display: list-item;
  }
}
.lbtn {
  border: 0px;
  background: #ff2b2b;
  border-radius: 30px;
  color: white;
  padding: 9px 27px;
  top: -5px;
  float: right;
  position: relative;
}
